
Slides/Introduction_to_DL/aliases.sty
Slides/Introduction_to_DL/Background/neuron_background-1.png
Slides/Introduction_to_DL/Background/neuron_background-10.png
Slides/Introduction_to_DL/Background/neuron_background-11.png
Slides/Introduction_to_DL/Background/neuron_background-12.png
Slides/Introduction_to_DL/Background/neuron_background-13.png
Slides/Introduction_to_DL/Background/neuron_background-14.png
Slides/Introduction_to_DL/Background/neuron_background-15.png
Slides/Introduction_to_DL/Background/neuron_background-16.png
Slides/Introduction_to_DL/Background/neuron_background-17.png
Slides/Introduction_to_DL/Background/neuron_background-18.png
Slides/Introduction_to_DL/Background/neuron_background-19.png
Slides/Introduction_to_DL/Background/neuron_background-2.png
Slides/Introduction_to_DL/Background/neuron_background-20.png
Slides/Introduction_to_DL/Background/neuron_background-3.png
Slides/Introduction_to_DL/Background/neuron_background-4.png
Slides/Introduction_to_DL/Background/neuron_background-5.png
Slides/Introduction_to_DL/Background/neuron_background-6.png
Slides/Introduction_to_DL/Background/neuron_background-7.png
Slides/Introduction_to_DL/Background/neuron_background-8.png
Slides/Introduction_to_DL/Background/neuron_background-9.png
Slides/Introduction_to_DL/cleveref.sty
Slides/Introduction_to_DL/Figures/_DS_Store
Slides/Introduction_to_DL/Figures/Activation_func/hs.asy
Slides/Introduction_to_DL/Figures/Activation_func/hs.pdf
Slides/Introduction_to_DL/Figures/Activation_func/logistic.asy
Slides/Introduction_to_DL/Figures/Activation_func/logistic.pdf
Slides/Introduction_to_DL/Figures/Activation_func/lrelu.asy
Slides/Introduction_to_DL/Figures/Activation_func/lrelu.pdf
Slides/Introduction_to_DL/Figures/Activation_func/relu.asy
Slides/Introduction_to_DL/Figures/Activation_func/relu.pdf
Slides/Introduction_to_DL/Figures/Activation_func/tanh.asy
Slides/Introduction_to_DL/Figures/Activation_func/tanh.pdf
Slides/Introduction_to_DL/Figures/Applications/chess.jpg
Slides/Introduction_to_DL/Figures/Applications/faceid.jpg
Slides/Introduction_to_DL/Figures/Applications/Google_translate.png
Slides/Introduction_to_DL/Figures/Applications/self_driving.jpg
Slides/Introduction_to_DL/Figures/Applications/youtube.png
Slides/Introduction_to_DL/Figures/History/AND.asy
Slides/Introduction_to_DL/Figures/History/AND.pdf
Slides/Introduction_to_DL/Figures/History/MLP_1.asy
Slides/Introduction_to_DL/Figures/History/MLP_1.pdf
Slides/Introduction_to_DL/Figures/History/neuron.pdf
Slides/Introduction_to_DL/Figures/History/NOT.asy
Slides/Introduction_to_DL/Figures/History/NOT.pdf
Slides/Introduction_to_DL/Figures/History/OR.asy
Slides/Introduction_to_DL/Figures/History/OR.pdf
Slides/Introduction_to_DL/Figures/History/perceptron.asy
Slides/Introduction_to_DL/Figures/History/perceptron.pdf
Slides/Introduction_to_DL/Figures/History/timeline1.asy
Slides/Introduction_to_DL/Figures/History/timeline1.pdf
Slides/Introduction_to_DL/Figures/History/timeline2.asy
Slides/Introduction_to_DL/Figures/History/timeline2.pdf
Slides/Introduction_to_DL/Figures/History/timeline3.asy
Slides/Introduction_to_DL/Figures/History/timeline3.pdf
Slides/Introduction_to_DL/Figures/History/timeline4.asy
Slides/Introduction_to_DL/Figures/History/timeline4.pdf
Slides/Introduction_to_DL/Figures/History/timeline5.asy
Slides/Introduction_to_DL/Figures/History/timeline5.pdf
Slides/Introduction_to_DL/Figures/History/timeline6.asy
Slides/Introduction_to_DL/Figures/History/timeline6.pdf
Slides/Introduction_to_DL/Figures/History/timeline7.asy
Slides/Introduction_to_DL/Figures/History/timeline7.pdf
Slides/Introduction_to_DL/Figures/History/winter/winter_snow-3 (dragged).tiff
Slides/Introduction_to_DL/Figures/History/winter/winter_snow-4 (dragged).tiff
Slides/Introduction_to_DL/Figures/History/winter/winter_snow-5 (dragged).tiff
Slides/Introduction_to_DL/Figures/History/winter/winter_snow-6 (dragged).tiff
Slides/Introduction_to_DL/Figures/History/winter/winter_snow-7 (dragged).tiff
Slides/Introduction_to_DL/Figures/History/winter/winter_snow.gif
Slides/Introduction_to_DL/Figures/History/winter/winter_snow_0.png
Slides/Introduction_to_DL/Figures/History/winter/winter_snow_1.png
Slides/Introduction_to_DL/Figures/MLP.pdf
Slides/Introduction_to_DL/Figures/MLP_components/earlystopping1.png
Slides/Introduction_to_DL/Figures/MLP_components/earlystopping2.png
Slides/Introduction_to_DL/Figures/MLP_components/gridsearch.png
Slides/Introduction_to_DL/Figures/MLP_components/minibatch.png
Slides/Introduction_to_DL/Figures/MLP_components/overfitting.png
Slides/Introduction_to_DL/Figures/neuron.pdf
Slides/Introduction_to_DL/Figures/Progress/prog1.png
Slides/Introduction_to_DL/Figures/Progress/prog2.png
Slides/Introduction_to_DL/Figures/Progress/prog3.png
Slides/Introduction_to_DL/Introduction_to_DL.aux
Slides/Introduction_to_DL/Introduction_to_DL.log
Slides/Introduction_to_DL/Introduction_to_DL.nav
Slides/Introduction_to_DL/Introduction_to_DL.out
Slides/Introduction_to_DL/Introduction_to_DL.snm
Slides/Introduction_to_DL/Introduction_to_DL.synctex.gz
Slides/Introduction_to_DL/Introduction_to_DL.tex
Slides/Introduction_to_DL/Introduction_to_DL.toc
Slides/Introduction_to_DL/Figures/History/AND_1.asy
Slides/Introduction_to_DL/Figures/History/AND_1.pdf
Slides/Introduction_to_DL/Figures/History/AND_2.asy
Slides/Introduction_to_DL/Figures/History/AND_2.pdf
Slides/Introduction_to_DL/Figures/History/NOT_1.asy
Slides/Introduction_to_DL/Figures/History/NOT_1.pdf
Slides/Introduction_to_DL/Figures/History/NOT_2.asy
Slides/Introduction_to_DL/Figures/History/NOT_2.pdf
Slides/Introduction_to_DL/Figures/History/OR_1.asy
Slides/Introduction_to_DL/Figures/History/OR_1.pdf
Slides/Introduction_to_DL/Figures/History/OR_2.asy
Slides/Introduction_to_DL/Figures/History/OR_2.pdf
Slides/Introduction_to_DL/Introduction_to_DL.pdf
